<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>$(BaseURL)</string>
	<key>CFBundleDisplayName</key>
	<string>Attorney</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Attorney</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Attorney would like to access your camera</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Attorney would like to access your microphone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Attorney would like to access your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Sbold.otf</string>
		<string>ProximaNova-RegIt.otf</string>
		<string>ProximaNova-Reg.otf</string>
		<string>ProximaNova-XBold.otf</string>
		<string>ProximaNova-BoldIt.otf</string>
		<string>ProximaNova-Bold.otf</string>
		<string>ProximaNova-LightIt.otf</string>
		<string>ProximaNova-Ligh.otf</string>
		<string>ProximaNova-SboldIt.otf</string>
		<string>Sigvar-Serial-Regular.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>ProximaNova-ThinIt.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>SplashScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
